
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.hero {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #2a2a2a, #3b3b98);
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.container {
    width: 600px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(15px);
    overflow: hidden;
}

.clock {
    display: flex;
    gap: 10px;
    align-items: center;
    color: #fff;
}

.clock span {
    font-size: 90px;
    font-weight: 500;
    color: #ff9500;
    text-shadow: 0 5px 10px rgba(255, 149, 0, 0.5);
    transition: transform 0.3s;
}

.clock span:hover {
    transform: scale(1.1);
}

.date {
    font-size: 24px;
    color: #d1d1d1;
    text-align: center;
    margin-top: 20px;
}

#ampm {
    font-size: 20px;
    color: #ff9500;
    margin-left: 10px;
}


@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.theme-button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #ff9500;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.timezone-select {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ff9500;
}

body.light-theme {
    background: #ffffff;
    color: #000;
}

body.light-theme .hero {
    background: linear-gradient(135deg, #ffffff, #f0f0f0);
}

body.light-theme .clock span {
    color: #151515;
}
